<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anket Detayları</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        body {
            background-color: #d1f0f0; /* Su Yeşili */
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ survey['anket_basligi'] }}</h2>
                <p>Yazar Adı: {{ survey['yazar_adi'] }}</p>
                <p>E-posta: {{ survey['e-mail'] }}</p>
                <p id="survey-title" data-survey-id="{{ survey['_id'] }}"></p>
                <ul class="list-group list-group-flush overflow-auto">
                    {% for option in survey['options'] %}
                    <li class="list-group-item">
                        <button onclick="update_count('{{ option['survey_id'] }}', '{{ option['id'] }}')"
                            class="btn btn-primary"
                            data-option-id="{{ option['id']}}">{{ option['text'] }} (Oy
                            Sayısı: <span id="count-{{ option['id'] }}">{{ option['count'] }}</span>)
                        </button>
                    </li>
                    {% endfor %}
                </ul>

                <h3>Yorumlar</h3>
                <ul class="list-group list-group-flush overflow-auto">
                    {% if comments %}
                        {% for comment in comments %}
                        <li class="list-group-item">
                            <p><strong>{{ comment['author'] }}:</strong> {{ comment['content'] }}</p>
                            <p><small>{{ comment['email'] }}</small></p>
                        </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">Ankette herhangi bir yorum yok.</li>
                    {% endif %}
                </ul>

                <h3>Yorum Ekle</h3>
                <form action="{{ url_for('add_comment', survey_id=survey['_id']) }}" method="POST">
                    <div class="mb-3">
                        <label for="author" class="form-label">Adınız:</label>
                        <input type="text" class="form-control" id="author" name="author" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">E-posta Adresiniz:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Yorumunuz:</label>
                        <textarea class="form-control" id="content" name="content" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Yorum Gönder</button>
                </form>

                <a href="/" class="btn btn-success mt-3">Anasayfaya Git</a> <!-- Anasayfaya Git butonu -->
            </div>
        </div>
    </div>

    <script>
        function update_count(survey_id, option_id) {
            var xhr = new XMLHttpRequest();

            xhr.open("POST", "/update_count", true);
            xhr.setRequestHeader("Content-Type", "application/json");

            var data = JSON.stringify({
                survey_id: survey_id,
                option_id: option_id
            });

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        var updatedCount = response.updated_count;
                        var countElement = document.getElementById("count-" + option_id);
                        if (countElement) {
                            countElement.textContent = updatedCount;
                        }
                        console.log("Count successfully updated.");
                    } else {
                        console.error("İsim güncellenirken bir hata oluştu.");
                    }
                }
            };
            xhr.send(data);
        }
    </script>

</body>

</html>
